# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

sublime/User/Package Control.cache/ad7758d143e99a76034aad71ae2a1f3b

sublime/User/Package Control.cache/ad7758d143e99a76034aad71ae2a1f3b.info

sublime/User/Package Control.last-run

sublime/User/Package Control.system-ca-bundle
